In [1]:
!pip install -Iv pulp==1.6.8 --quiet

Collecting pulp==1.6.8
  Using cached PuLP-1.6.8-py3-none-any.whl
Collecting pyparsing>=2.0.1
  Using cached pyparsing-3.0.8-py3-none-any.whl (98 kB)
Installing collected packages: pyparsing, pulp
Successfully installed pulp-1.6.8 pyparsing-3.0.8

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#import pulp

In [3]:
# Players dataframe
# each row consists of player performance in the seasons from 2016 to 2020

# Import the datasets from github

* The datasets consist of premier league seasonsfrom 2016-2021
* There is also data by game-weeks which consits of performance of the players through weeks for each season

In [4]:
players21 = pd.read_csv('https://raw.githubusercontent.com/vaastav/Fantasy-Premier-League/master/data/2021-22/players_raw.csv')
players1617 = pd.read_csv('https://raw.githubusercontent.com/vaastav/Fantasy-Premier-League/master/data/2016-17/players_raw.csv',encoding='latin')
players1718 = pd.read_csv('https://raw.githubusercontent.com/vaastav/Fantasy-Premier-League/master/data/2017-18/players_raw.csv')
players1819 = pd.read_csv('https://raw.githubusercontent.com/vaastav/Fantasy-Premier-League/master/data/2018-19/players_raw.csv')
players1920 = pd.read_csv('https://raw.githubusercontent.com/vaastav/Fantasy-Premier-League/master/data/2019-20/players_raw.csv')
players2021 = pd.read_csv('https://raw.githubusercontent.com/vaastav/Fantasy-Premier-League/master/data/2020-21/players_raw.csv')

In [5]:
players21.head()

,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,cost_change_event,...,threat_rank_type,total_points,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,web_name,yellow_cards
0,0,0,69,100,100,1,80201,None,NaN,0,...,60,10,79666,146,198598,1877,0.3,2.2,Leno,0
1,0,0,0,0,0,0,115918,None,NaN,0,...,19,0,19017,0,79815,115,0.0,0.0,Rúnarsson,0
2,0,0,0,0,0,0,47431,None,NaN,0,...,299,0,914,0,20504,7,0.0,0.0,Willian,0
3,1,7,131,0,0,6,54694,None,NaN,0,...,19,44,742898,0,897420,312,0.0,4.6,Aubameyang,3
4,0,0,193,100,100,3,58822,2,NaN,0,...,106,26,47448,4527,33125,823,0.7,6.2,Cédric,3

In [6]:
players1617.head()

,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,cost_change_event,cost_change_event_fall,cost_change_start,...,threat,total_points,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,web_name,yellow_cards
0,0,0,18,100,100,0,48844,0,0,-3,...,0.0,2,3433,0,7905,0,0.0,0.4,Ospina,0
1,0,2,660,100,100,12,11334,0,0,-1,...,0.0,134,432837,0,590727,0,0.0,24.8,Cech,2
2,1,19,723,0,75,10,51507,0,0,1,...,239.0,121,965040,0,857277,0,0.0,19.8,Koscielny,4
3,0,0,5,100,100,0,17127,0,0,-2,...,0.0,1,2141,0,5912,0,0.0,0.2,Mertesacker,0
4,0,2,296,75,100,5,158074,0,0,-2,...,119.0,45,119600,0,100361,0,0.0,9.4,Gabriel,6

In [7]:
players1718.head()

,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,cost_change_event,cost_change_event_fall,cost_change_start,...,threat,total_points,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,web_name,yellow_cards
0,0,1,86,100,100,2,48844,0,0,-2,...,0.0,19,3948,0,10172,0,0.4,4.0,Ospina,0
1,0,7,627,100,100,11,11334,0,0,-2,...,0.0,124,183262,0,294471,0,0.3,23.4,Cech,1
2,0,0,0,0,0,0,98980,0,0,0,...,0.0,0,1506,0,29335,0,0.0,0.0,Martinez,0
3,0,16,556,0,0,9,51507,0,0,0,...,137.0,100,205878,0,199153,0,0.1,16.7,Koscielny,4
4,0,2,81,100,100,0,17127,0,0,-3,...,38.0,16,31711,0,46441,0,0.0,3.4,Mertesacker,0

In [8]:
players1819.head()

,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,cost_change_event,cost_change_event_fall,cost_change_start,...,threat,total_points,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,web_name,yellow_cards
0,0,3,130,100,100,1,11334,0,0,-3,...,0.0,24,83497,0,136211,0,0.0,5.1,Cech,0
1,0,5,568,None,None,6,80201,0,0,-1,...,0.0,106,339095,0,250834,0,0.7,21.6,Leno,0
2,0,8,319,100,100,3,51507,0,0,-1,...,105.0,62,128478,0,92187,0,0.4,11.5,Koscielny,1
3,5,5,304,0,0,4,98745,0,0,-2,...,280.0,60,567084,0,1143684,0,0.0,11.3,Bellerín,3
4,4,7,392,100,100,5,38411,0,0,-1,...,224.0,77,298216,0,290921,0,0.5,14.3,Monreal,5

In [9]:
players1920.head()

,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,cost_change_event,cost_change_event_fall,cost_change_start,...,threat_rank_type,total_points,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,web_name,yellow_cards
0,2,2,242,0,0,4,69140,0,0,-4,...,58,43,25007,0,47630,0,0.3,8.4,Mustafi,2
1,0,4,204,100,100,4,98745,0,0,-3,...,81,44,206616,0,159819,0,0.3,8.5,Bellerín,2
2,2,1,331,100,100,4,111457,0,0,-3,...,98,55,65194,0,134275,0,0.5,10.6,Kolasinac,4
3,2,3,244,100,100,3,154043,0,0,-5,...,119,41,610816,0,653555,0,0.1,9.1,Maitland-Niles,4
4,0,5,305,100,100,4,39476,0,0,-2,...,76,57,182201,0,231413,0,0.0,11.9,Sokratis,6

In [10]:
players2021.head()

,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,cost_change_event,...,threat_rank_type,total_points,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,web_name,yellow_cards
0,0,0,0,0,0,0,37605,None,NaN,0,...,295,0,3441,0,54937,0,0.0,0.0,Özil,0
1,0,0,0,0,0,0,39476,None,NaN,0,...,238,0,10266,0,19142,0,0.0,0.0,Sokratis,0
2,0,0,230,100,50,3,41270,None,NaN,0,...,70,41,77302,0,131045,0,0.0,7.6,David Luiz,1
3,3,11,358,100,100,10,54694,None,NaN,0,...,18,131,1240132,0,3870817,0,0.3,11.6,Aubameyang,2
4,1,3,125,100,100,2,58822,None,NaN,0,...,110,28,41602,0,66906,0,0.0,6.1,Cédric,1

In [11]:
players2021.columns

Index(['assists', 'bonus', 'bps', 'chance_of_playing_next_round',
       'chance_of_playing_this_round', 'clean_sheets', 'code',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'cost_change_event',
       'cost_change_event_fall', 'cost_change_start', 'cost_change_start_fall',
       'creativity', 'creativity_rank', 'creativity_rank_type',
       'direct_freekicks_order', 'direct_freekicks_text', 'dreamteam_count',
       'element_type', 'ep_next', 'ep_this', 'event_points', 'first_name',
       'form', 'goals_conceded', 'goals_scored', 'ict_index', 'ict_index_rank',
       'ict_index_rank_type', 'id', 'in_dreamteam', 'influence',
       'influence_rank', 'influence_rank_type', 'minutes', 'news',
       'news_added', 'now_cost', 'own_goals', 'penalties_missed',
       'penalties_order', 'penalties_saved', 'penalties_text', 'photo',
       'points_per_game', 'red_cards', 'saves', 'second_name',
       'selected_by_percent', 'special', 'squad_number', 'status', 'team',
       'team_code', 'threat', 'threat_rank', 'threat_rank_type',
       'total_points', 'transfers_in', 'transfers_in_event', 'transfers_out',
       'transfers_out_event', 'value_form', 'value_season', 'web_name',
       'yellow_cards'],
      dtype='object')

In [12]:
players2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 713 entries, 0 to 712
Data columns (total 67 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   assists                               713 non-null    int64
 1   bonus                                 713 non-null    int64
 2   bps                                   713 non-null    int64
 3   chance_of_playing_next_round          713 non-null    object
 4   chance_of_playing_this_round          713 non-null    object
 5   clean_sheets                          713 non-null    int64
 6   code                                  713 non-null    int64
 7   corners_and_indirect_freekicks_order  713 non-null    object
 8   corners_and_indirect_freekicks_text   0 non-null      float64
 9   cost_change_event                     713 non-null    int64
 10  cost_change_event_fall                713 non-null    int64
 11  cost_change_start                     713 non-null    int64
 12  cost_change_start_fall                713 non-null    int64
 13  creativity                            713 non-null    float64
 14  creativity_rank                       713 non-null    int64
 15  creativity_rank_type                  713 non-null    int64
 16  direct_freekicks_order                713 non-null    object
 17  direct_freekicks_text                 0 non-null      float64
 18  dreamteam_count                       713 non-null    int64
 19  element_type                          713 non-null    int64
 20  ep_next                               713 non-null    object
 21  ep_this                               713 non-null    float64
 22  event_points                          713 non-null    int64
 23  first_name                            713 non-null    object
 24  form                                  713 non-null    float64
 25  goals_conceded                        713 non-null    int64
 26  goals_scored                          713 non-null    int64
 27  ict_index                             713 non-null    float64
 28  ict_index_rank                        713 non-null    int64
 29  ict_index_rank_type                   713 non-null    int64
 30  id                                    713 non-null    int64
 31  in_dreamteam                          713 non-null    bool
 32  influence                             713 non-null    float64
 33  influence_rank                        713 non-null    int64
 34  influence_rank_type                   713 non-null    int64
 35  minutes                               713 non-null    int64
 36  news                                  130 non-null    object
 37  news_added                            713 non-null    object
 38  now_cost                              713 non-null    int64
 39  own_goals                             713 non-null    int64
 40  penalties_missed                      713 non-null    int64
 41  penalties_order                       713 non-null    object
 42  penalties_saved                       713 non-null    int64
 43  penalties_text                        0 non-null      float64
 44  photo                                 713 non-null    object
 45  points_per_game                       713 non-null    float64
 46  red_cards                             713 non-null    int64
 47  saves                                 713 non-null    int64
 48  second_name                           713 non-null    object
 49  selected_by_percent                   713 non-null    float64
 50  special                               713 non-null    bool
 51  squad_number                          713 non-null    object
 52  status                                713 non-null    object
 53  team                                  713 non-null    int64
 54  team_code                             713 non-null    int64
 55  threat                                713 non-null    float64
 56  threat_rank                           713 non-null    int64
 57  threat_rank_type                      713 non-null    int64
 58  total_points                          713 non-null    int64
 59  transfers_in                          713 non-null    int64
 60  transfers_in_event                    713 non-null    int64
 61  transfers_out                         713 non-null    int64
 62  transfers_out_event                   713 non-null    int64
 63  value_form                            713 non-null    float64
 64  value_season                          713 non-null    float64
 65  web_name                              713 non-null    object
 66  yellow_cards                          713 non-null    int64
dtypes: bool(2), float64(13), int64(38), object(14)
memory usage: 363.6+ KB

In [13]:
# GW or gameWeek dataframe
# each row consists of a player for each game week

In [14]:
gw1617 = pd.read_csv('https://raw.githubusercontent.com/vaastav/Fantasy-Premier-League/master/data/2016-17/gws/merged_gw.csv',encoding='latin')

In [15]:
gw1617.head()

,name,assists,attempted_passes,big_chances_created,big_chances_missed,bonus,bps,clean_sheets,clearances_blocks_interceptions,completed_passes,...,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,winning_goals,yellow_cards,GW
0,Aaron_Cresswell,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,55,False,0,0,1
1,Aaron_Lennon,0,3,0,0,0,6,0,1,2,...,0,1,0,0,0,60,True,0,0,1
2,Aaron_Ramsey,0,26,0,0,0,5,0,2,22,...,23,2,0,0,0,80,True,0,0,1
3,Abdoulaye_Doucouré,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,50,False,0,0,1
4,Abdul Rahman_Baba,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,55,True,0,0,1

In [16]:
gw1718 = pd.read_csv('https://raw.githubusercontent.com/vaastav/Fantasy-Premier-League/master/data/2017-18/gws/merged_gw.csv',encoding='latin')

In [17]:
gw1819 = pd.read_csv('https://raw.githubusercontent.com/vaastav/Fantasy-Premier-League/master/data/2018-19/gws/merged_gw.csv',encoding='latin')

In [18]:
gw1920 = pd.read_csv('https://raw.githubusercontent.com/vaastav/Fantasy-Premier-League/master/data/2019-20/gws/merged_gw.csv',encoding='latin')

In [19]:
gw2021 = pd.read_csv('https://raw.githubusercontent.com/vaastav/Fantasy-Premier-League/master/data/2020-21/gws/merged_gw.csv',encoding='latin')

In [20]:
gw2021.head() # this is for 2020-2021 not 2021 FPL

,name,position,team,xP,assists,bonus,bps,clean_sheets,creativity,element,...,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW
0,Aaron Connolly,FWD,Brighton,0.5,0,0,-3,0,0.3,78,...,1,32.0,1,0,0,0,55,True,0,1
1,Aaron Cresswell,DEF,West Ham,2.1,0,0,11,0,11.2,435,...,0,0.0,1,0,0,0,50,True,0,1
2,Aaron Mooy,MID,Brighton,0.0,0,0,0,0,0.0,60,...,1,0.0,0,0,0,0,50,True,0,1
3,Aaron Ramsdale,GK,Sheffield Utd,2.5,0,0,12,0,0.0,483,...,0,0.0,1,0,0,0,50,True,0,1
4,Abdoulaye DoucourÃ©,MID,Everton,1.3,0,0,20,1,44.6,512,...,0,4.0,3,0,0,0,55,False,0,1

In [21]:
gw2021.columns

Index(['name', 'position', 'team', 'xP', 'assists', 'bonus', 'bps',
       'clean_sheets', 'creativity', 'element', 'fixture', 'goals_conceded',
       'goals_scored', 'ict_index', 'influence', 'kickoff_time', 'minutes',
       'opponent_team', 'own_goals', 'penalties_missed', 'penalties_saved',
       'red_cards', 'round', 'saves', 'selected', 'team_a_score',
       'team_h_score', 'threat', 'total_points', 'transfers_balance',
       'transfers_in', 'transfers_out', 'value', 'was_home', 'yellow_cards',
       'GW'],
      dtype='object')

In [101]:
gw2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24365 entries, 0 to 24364
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               24365 non-null  object
 1   position           24365 non-null  object
 2   team               24365 non-null  object
 3   xP                 24365 non-null  float64
 4   assists            24365 non-null  int64
 5   bonus              24365 non-null  int64
 6   bps                24365 non-null  int64
 7   clean_sheets       24365 non-null  int64
 8   creativity         24365 non-null  float64
 9   element            24365 non-null  int64
 10  fixture            24365 non-null  int64
 11  goals_conceded     24365 non-null  int64
 12  goals_scored       24365 non-null  int64
 13  ict_index          24365 non-null  float64
 14  influence          24365 non-null  float64
 15  kickoff_time       24365 non-null  object
 16  minutes            24365 non-null  int64
 17  opponent_team      24365 non-null  int64
 18  own_goals          24365 non-null  int64
 19  penalties_missed   24365 non-null  int64
 20  penalties_saved    24365 non-null  int64
 21  red_cards          24365 non-null  int64
 22  round              24365 non-null  int64
 23  saves              24365 non-null  int64
 24  selected           24365 non-null  int64
 25  team_a_score       24365 non-null  int64
 26  team_h_score       24365 non-null  int64
 27  threat             24365 non-null  float64
 28  total_points       24365 non-null  int64
 29  transfers_balance  24365 non-null  int64
 30  transfers_in       24365 non-null  int64
 31  transfers_out      24365 non-null  int64
 32  value              24365 non-null  int64
 33  was_home           24365 non-null  bool
 34  yellow_cards       24365 non-null  int64
 35  GW                 24365 non-null  int64
 36  season             24365 non-null  object
 37  season_num         24365 non-null  int64
dtypes: bool(1), float64(5), int64(27), object(5)
memory usage: 6.9+ MB

In [22]:
gw1718.head()

,name,assists,attempted_passes,big_chances_created,big_chances_missed,bonus,bps,clean_sheets,clearances_blocks_interceptions,completed_passes,...,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,winning_goals,yellow_cards,GW
0,Aaron_Cresswell,0,10,0,0,0,3,0,0,9,...,18,0,0,0,0,50,False,0,0,1
1,Aaron_Lennon,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,55,True,0,0,1
2,Aaron_Mooy,1,52,0,0,0,22,1,5,41,...,0,6,0,0,0,55,False,0,0,1
3,Aaron_Ramsey,0,11,0,1,0,16,0,0,8,...,26,6,0,0,0,70,True,0,0,1
4,Abdoulaye_Doucouré,0,73,0,0,2,36,0,3,60,...,35,9,0,0,0,50,True,0,0,1

In [23]:
gw1819.head()

,name,assists,attempted_passes,big_chances_created,big_chances_missed,bonus,bps,clean_sheets,clearances_blocks_interceptions,completed_passes,...,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,winning_goals,yellow_cards,GW
0,Aaron_Cresswell_402,0,0,0,0,0,0,0,0,0,...,0.0,0,0,0,0,55,False,0,0,1
1,Aaron_Lennon_83,0,22,0,1,0,6,1,1,17,...,17.0,3,0,0,0,50,False,0,0,1
2,Aaron_Mooy_199,0,51,0,0,0,24,0,2,40,...,0.0,2,0,0,0,55,True,0,0,1
3,Aaron_Ramsey_14,0,11,0,0,0,7,0,0,7,...,9.0,1,0,0,0,75,True,0,0,1
4,Aaron_Wan-Bissaka_145,1,29,1,0,3,38,1,11,19,...,0.0,12,0,0,0,40,False,0,0,1

In [24]:
gw1920.head()

,name,assists,bonus,bps,clean_sheets,creativity,element,fixture,goals_conceded,goals_scored,...,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW
0,Aaron_Cresswell_376,0,0,7,0,1.5,376,8,5,0,...,0.0,0.0,0,0,0,0,50,True,0,1
1,Aaron_Lennon_430,0,0,3,0,0.0,430,3,0,0,...,3.0,0.0,1,0,0,0,50,True,0,1
2,Aaron_Mooy_516,0,0,0,0,0.0,516,7,0,0,...,0.0,0.0,0,0,0,0,50,False,0,1
3,Aaron_Ramsdale_494,0,0,11,0,0.0,494,2,1,0,...,1.0,0.0,2,0,0,0,45,True,0,1
4,Aaron_Wan-Bissaka_122,0,2,34,1,16.1,122,9,0,0,...,4.0,2.0,8,0,0,0,55,True,0,1

In [25]:
gw1920.columns

Index(['name', 'assists', 'bonus', 'bps', 'clean_sheets', 'creativity',
       'element', 'fixture', 'goals_conceded', 'goals_scored', 'ict_index',
       'influence', 'kickoff_time', 'minutes', 'opponent_team', 'own_goals',
       'penalties_missed', 'penalties_saved', 'red_cards', 'round', 'saves',
       'selected', 'team_a_score', 'team_h_score', 'threat', 'total_points',
       'transfers_balance', 'transfers_in', 'transfers_out', 'value',
       'was_home', 'yellow_cards', 'GW'],
      dtype='object')

# Cleaning the dataframes

In [26]:
# GW 20-21 (gw2021) has extra columns namely - Position and team
# players2021 has an extra column which is element_type which is the position of the player
# in players dataframes, the firstname and second names are in seperate columns, putting it in one column will make the dataframe easy to use

In [27]:
players21.duplicated().sum()

0

In [28]:
players1617.duplicated().sum()

0

In [29]:
players1718.duplicated().sum()

0

In [30]:
players1819.duplicated().sum()

0

In [31]:
players1920.duplicated().sum()

0

In [32]:
players2021.duplicated().sum()

0

In [33]:
gw1617.duplicated().sum()

0

In [34]:
gw1718.duplicated().sum()

0

In [35]:
gw1819.duplicated().sum()

0

In [36]:
gw1920.duplicated().sum()

0

In [37]:
gw2021.duplicated().sum()

0

# Combining all the datasets

* the players dataset across all the season is combined
* the game week datasets across all the game weeks is combines

In [38]:
# Add all the dfs into a list for easy manipulation

player_df_list = [players1617,players1718,players1819,players1920,players2021]
gw_df_list = [gw1617,gw1718,gw1819,gw1920,gw2021]

# Adding the season Columns

In [39]:
# add the seasons column to the list because we will be combining all the dfs

seasons = ['1617', '1718', '1819', '1920', '2021']
season_nums = list(range(len(seasons)))

for i in range(len(seasons)):
    
    player_df_list[i]['season'] = seasons[i]
    gw_df_list[i]['season'] = seasons[i]
    
    player_df_list[i]['season_num'] = season_nums[i]
    gw_df_list[i]['season_num'] = season_nums[i]

In [40]:
# combine dataframes from all seasons into one

players_df = pd.concat(player_df_list)
gws_df = pd.concat(gw_df_list)

players_df.reset_index(inplace=True)
gws_df.reset_index(inplace=True)

In [41]:
players_df.columns

Index(['index', 'assists', 'bonus', 'bps', 'chance_of_playing_next_round',
       'chance_of_playing_this_round', 'clean_sheets', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'creativity', 'dreamteam_count', 'ea_index',
       'element_type', 'ep_next', 'ep_this', 'event_points', 'first_name',
       'form', 'goals_conceded', 'goals_scored', 'ict_index', 'id',
       'in_dreamteam', 'influence', 'loaned_in', 'loaned_out', 'loans_in',
       'loans_out', 'minutes', 'news', 'now_cost', 'own_goals',
       'penalties_missed', 'penalties_saved', 'photo', 'points_per_game',
       'red_cards', 'saves', 'second_name', 'selected_by_percent', 'special',
       'squad_number', 'status', 'team', 'team_code', 'threat', 'total_points',
       'transfers_in', 'transfers_in_event', 'transfers_out',
       'transfers_out_event', 'value_form', 'value_season', 'web_name',
       'yellow_cards', 'season', 'season_num', 'news_added', 'creativity_rank',
       'creativity_rank_type', 'ict_index_rank', 'ict_index_rank_type',
       'influence_rank', 'influence_rank_type', 'threat_rank',
       'threat_rank_type', 'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text'],
      dtype='object')

In [42]:
gws_df

,index,name,assists,attempted_passes,big_chances_created,big_chances_missed,bonus,bps,clean_sheets,clearances_blocks_interceptions,...,value,was_home,winning_goals,yellow_cards,GW,season,season_num,position,team,xP
0,0,Aaron_Cresswell,0,0.0,0.0,0.0,0,0,0,0.0,...,55,False,0.0,0,1,1617,0,NaN,NaN,NaN
1,1,Aaron_Lennon,0,3.0,0.0,0.0,0,6,0,1.0,...,60,True,0.0,0,1,1617,0,NaN,NaN,NaN
2,2,Aaron_Ramsey,0,26.0,0.0,0.0,0,5,0,2.0,...,80,True,0.0,0,1,1617,0,NaN,NaN,NaN
3,3,Abdoulaye_Doucouré,0,0.0,0.0,0.0,0,0,0,0.0,...,50,False,0.0,0,1,1617,0,NaN,NaN,NaN
4,4,Abdul Rahman_Baba,0,0.0,0.0,0.0,0,0,0,0.0,...,55,True,0.0,0,1,1617,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114856,24360,Aaron Ramsdale,0,NaN,NaN,NaN,2,30,1,NaN,...,46,True,NaN,0,38,2021,4,GK,Sheffield Utd,9.0
114857,24361,Adrien Silva,0,NaN,NaN,NaN,0,0,0,NaN,...,44,True,NaN,0,38,2021,4,MID,Leicester,0.0
114858,24362,Sidnei Tavares,0,NaN,NaN,NaN,0,0,0,NaN,...,44,True,NaN,0,38,2021,4,MID,Leicester,0.0
114859,24363,Kalvin Phillips,0,NaN,NaN,NaN,0,17,0,NaN,...,49,True,NaN,1,38,2021,4,MID,Leeds,6.5
114860,24364,Raphael Dias Belloli,1,NaN,NaN,NaN,0,24,0,NaN,...,56,True,NaN,0,38,2021,4,MID,Leeds,5.5

# Changing the columns names for better usability, an aditional season column has been added so we know which years or seasons the stats we look at

In [43]:
# making modification in the df columns for usaility

players_df['full_name'] = players_df['first_name'].str.lower() +"_" + players_df['second_name'].str.lower()

# Calculating a starting cost for players at the beginning of the season

In [44]:
players_df['starting_cost'] = players_df.now_cost - players_df.cost_change_start_fall

Here we change the cost price to two places so it is easier to read

In [45]:
players_df['cost_bin'] = players_df.now_cost.apply(lambda x: np.floor(x/10))

Setting player positions and adding it to the dataframe

In [46]:
positions_dict = {
    1: 'Keeper',
    2: 'Defender',
    3: 'Midfielder',
    4: 'Forward'
    
}

In [47]:
players_df['position'] = players_df.element_type.map(positions_dict)

In [48]:
players_df

,index,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,cost_change_event,cost_change_event_fall,...,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text,full_name,starting_cost,cost_bin,position
0,0,0,0,18,100,100,0,48844,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,david_ospina,44,4.0,Keeper
1,1,0,2,660,100,100,12,11334,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,petr_cech,53,5.0,Keeper
2,2,1,19,723,0,75,10,51507,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,laurent_koscielny,62,6.0,Defender
3,3,0,0,5,100,100,0,17127,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,per_mertesacker,46,4.0,Defender
4,4,0,2,296,75,100,5,158074,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,gabriel armando_de abreu,46,4.0,Defender
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,708,0,0,0,None,None,0,448487,0,0,...,None,NaN,None,NaN,None,NaN,andreas_söndergaard,40,4.0,Keeper
3329,709,0,0,5,0,0,0,209353,0,0,...,None,NaN,None,NaN,None,NaN,patrick_cutrone,58,5.0,Forward
3330,710,0,0,0,None,None,0,465551,0,0,...,None,NaN,None,NaN,None,NaN,nigel_lonwijk,38,3.0,Defender
3331,711,1,3,131,100,100,5,73314,0,0,...,None,NaN,None,NaN,None,NaN,willian josé_da silva,66,6.0,Forward
3332,712,0,0,0,None,None,0,490721,0,0,...,None,NaN,None,NaN,None,NaN,hugo_bueno,40,4.0,Defender

## Now we can see the additional columns added to the dataframe above
* season
* cost_bin
* starting_cost
* position

# Cleaning up the full name column

In [49]:
# in the gws_df there are numbers after the players name the names are as follows - fName_sName_number


gws_df['full_name'] = gws_df.name.str.replace('_\d+','')
gws_df['full_name'] = gws_df['full_name'].str.replace(" ", "_").str.replace("-", "_").str.replace('_\d+','')
gws_df['full_name'] = gws_df['full_name'].str.lower()

<ipython-input-49-afd4152be51e>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  gws_df['full_name'] = gws_df.name.str.replace('_\d+','')
<ipython-input-49-afd4152be51e>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  gws_df['full_name'] = gws_df['full_name'].str.replace(" ", "_").str.replace("-", "_").str.replace('_\d+','')

In [50]:
gws_df

,index,name,assists,attempted_passes,big_chances_created,big_chances_missed,bonus,bps,clean_sheets,clearances_blocks_interceptions,...,was_home,winning_goals,yellow_cards,GW,season,season_num,position,team,xP,full_name
0,0,Aaron_Cresswell,0,0.0,0.0,0.0,0,0,0,0.0,...,False,0.0,0,1,1617,0,NaN,NaN,NaN,aaron_cresswell
1,1,Aaron_Lennon,0,3.0,0.0,0.0,0,6,0,1.0,...,True,0.0,0,1,1617,0,NaN,NaN,NaN,aaron_lennon
2,2,Aaron_Ramsey,0,26.0,0.0,0.0,0,5,0,2.0,...,True,0.0,0,1,1617,0,NaN,NaN,NaN,aaron_ramsey
3,3,Abdoulaye_Doucouré,0,0.0,0.0,0.0,0,0,0,0.0,...,False,0.0,0,1,1617,0,NaN,NaN,NaN,abdoulaye_doucouré
4,4,Abdul Rahman_Baba,0,0.0,0.0,0.0,0,0,0,0.0,...,True,0.0,0,1,1617,0,NaN,NaN,NaN,abdul_rahman_baba
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114856,24360,Aaron Ramsdale,0,NaN,NaN,NaN,2,30,1,NaN,...,True,NaN,0,38,2021,4,GK,Sheffield Utd,9.0,aaron_ramsdale
114857,24361,Adrien Silva,0,NaN,NaN,NaN,0,0,0,NaN,...,True,NaN,0,38,2021,4,MID,Leicester,0.0,adrien_silva
114858,24362,Sidnei Tavares,0,NaN,NaN,NaN,0,0,0,NaN,...,True,NaN,0,38,2021,4,MID,Leicester,0.0,sidnei_tavares
114859,24363,Kalvin Phillips,0,NaN,NaN,NaN,0,17,0,NaN,...,True,NaN,1,38,2021,4,MID,Leeds,6.5,kalvin_phillips
114860,24364,Raphael Dias Belloli,1,NaN,NaN,NaN,0,24,0,NaN,...,True,NaN,0,38,2021,4,MID,Leeds,5.5,raphael_dias_belloli

In [51]:
#players_df.to_csv('players.csv')

In [52]:
#gws_df.to_csv('game-weeks.csv')

# filtering out for the season 2020-2021

In [53]:
# filtering out last season players -> 2020 - 2021

last_season_players = players_df[players_df.season == '2021']

In [54]:
last_season_players

,index,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,cost_change_event,cost_change_event_fall,...,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text,full_name,starting_cost,cost_bin,position
2620,0,0,0,0,0,0,0,37605,0,0,...,None,NaN,None,NaN,None,NaN,mesut_özil,64,6.0,Midfielder
2621,1,0,0,0,0,0,0,39476,0,0,...,None,NaN,None,NaN,None,NaN,sokratis_papastathopoulos,46,4.0,Defender
2622,2,0,0,230,100,50,3,41270,0,0,...,None,NaN,4,NaN,None,NaN,david_luiz moreira marinho,53,5.0,Defender
2623,3,3,11,358,100,100,10,54694,0,0,...,None,NaN,None,NaN,1,NaN,pierre-emerick_aubameyang,106,11.0,Midfielder
2624,4,1,3,125,100,100,2,58822,0,0,...,None,NaN,5,NaN,None,NaN,cédric_soares,42,4.0,Defender
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,708,0,0,0,None,None,0,448487,0,0,...,None,NaN,None,NaN,None,NaN,andreas_söndergaard,40,4.0,Keeper
3329,709,0,0,5,0,0,0,209353,0,0,...,None,NaN,None,NaN,None,NaN,patrick_cutrone,58,5.0,Forward
3330,710,0,0,0,None,None,0,465551,0,0,...,None,NaN,None,NaN,None,NaN,nigel_lonwijk,38,3.0,Defender
3331,711,1,3,131,100,100,5,73314,0,0,...,None,NaN,None,NaN,None,NaN,willian josé_da silva,66,6.0,Forward
3332,712,0,0,0,None,None,0,490721,0,0,...,None,NaN,None,NaN,None,NaN,hugo_bueno,40,4.0,Defender

In [55]:
# making changes to the current season df

players21.columns

Index(['assists', 'bonus', 'bps', 'chance_of_playing_next_round',
       'chance_of_playing_this_round', 'clean_sheets', 'code',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'cost_change_event',
       'cost_change_event_fall', 'cost_change_start', 'cost_change_start_fall',
       'creativity', 'creativity_rank', 'creativity_rank_type',
       'direct_freekicks_order', 'direct_freekicks_text', 'dreamteam_count',
       'element_type', 'ep_next', 'ep_this', 'event_points', 'first_name',
       'form', 'goals_conceded', 'goals_scored', 'ict_index', 'ict_index_rank',
       'ict_index_rank_type', 'id', 'in_dreamteam', 'influence',
       'influence_rank', 'influence_rank_type', 'minutes', 'news',
       'news_added', 'now_cost', 'own_goals', 'penalties_missed',
       'penalties_order', 'penalties_saved', 'penalties_text', 'photo',
       'points_per_game', 'red_cards', 'saves', 'second_name',
       'selected_by_percent', 'special', 'squad_number', 'status', 'team',
       'team_code', 'threat', 'threat_rank', 'threat_rank_type',
       'total_points', 'transfers_in', 'transfers_in_event', 'transfers_out',
       'transfers_out_event', 'value_form', 'value_season', 'web_name',
       'yellow_cards'],
      dtype='object')

In [56]:
players21['full_name'] = players21['first_name'].str.lower() +"_" + players21['second_name'].str.lower()
players21['cost_bin'] = players21.now_cost.apply(lambda x: np.floor(x/10))

In [57]:
players21.columns

Index(['assists', 'bonus', 'bps', 'chance_of_playing_next_round',
       'chance_of_playing_this_round', 'clean_sheets', 'code',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'cost_change_event',
       'cost_change_event_fall', 'cost_change_start', 'cost_change_start_fall',
       'creativity', 'creativity_rank', 'creativity_rank_type',
       'direct_freekicks_order', 'direct_freekicks_text', 'dreamteam_count',
       'element_type', 'ep_next', 'ep_this', 'event_points', 'first_name',
       'form', 'goals_conceded', 'goals_scored', 'ict_index', 'ict_index_rank',
       'ict_index_rank_type', 'id', 'in_dreamteam', 'influence',
       'influence_rank', 'influence_rank_type', 'minutes', 'news',
       'news_added', 'now_cost', 'own_goals', 'penalties_missed',
       'penalties_order', 'penalties_saved', 'penalties_text', 'photo',
       'points_per_game', 'red_cards', 'saves', 'second_name',
       'selected_by_percent', 'special', 'squad_number', 'status', 'team',
       'team_code', 'threat', 'threat_rank', 'threat_rank_type',
       'total_points', 'transfers_in', 'transfers_in_event', 'transfers_out',
       'transfers_out_event', 'value_form', 'value_season', 'web_name',
       'yellow_cards', 'full_name', 'cost_bin'],
      dtype='object')

# Setting the team names of of the teams as in the data they are numbered

In [58]:
players21['team']

0       1
1       1
2       1
3       1
4       1
       ..
717    20
718    20
719    20
720    20
721    20
Name: team, Length: 722, dtype: int64

In [59]:
this_season_players = players21[['full_name','cost_bin','team']]

In [60]:
this_season_players['team'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20])

In [61]:
teams_name = {
    1: 'Arsenal',
    2: 'Aston Villa',
    3: 'Brentford',
    4: 'Brighton',
    5:'Burnley',
    6:'Chelsea',
    7:'Crystal Palace',
    8:'Everton',
    9:'Leicester',
    10:'Leeds',
    11:'Liverpool',
    12:'Man City',
    13:'Man Utd',
    14:'Newcastle',
    15:'Norwich',
    16:'Southampton',
    17:'Spurs',
    18:'Watford',
    19:'West Ham',
    20:'Wolves'
    
}

In [62]:
this_season_players['team_name'] = this_season_players.team.map(teams_name)

<ipython-input-62-6fdc6d329102>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  this_season_players['team_name'] = this_season_players.team.map(teams_name)

# Players for the current season that we want to make the fantasy team for

In [63]:
this_season_players

                          full_name  cost_bin  team team_name
0                        bernd_leno       4.0     1   Arsenal
1              rúnar alex_rúnarsson       4.0     1   Arsenal
2           willian_borges da silva       6.0     1   Arsenal
3         pierre-emerick_aubameyang       9.0     1   Arsenal
4                     cédric_soares       4.0     1   Arsenal
..                              ...       ...   ...       ...
717       bruno andré_cavaco jordão       4.0    20    Wolves
718              toti antónio_gomes       4.0    20    Wolves
719                  dion_sanderson       4.0    20    Wolves
720                      ryan_giles       4.0    20    Wolves
721  francisco jorge_tomás oliveira       5.0    20    Wolves

[722 rows x 4 columns]

# Filtering out players who actually played any games

In [64]:
last_season_players = last_season_players[last_season_players.minutes>0]

In [65]:
last_season_players

,index,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,cost_change_event,cost_change_event_fall,...,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text,full_name,starting_cost,cost_bin,position
2622,2,0,0,230,100,50,3,41270,0,0,...,None,NaN,4,NaN,None,NaN,david_luiz moreira marinho,53,5.0,Defender
2623,3,3,11,358,100,100,10,54694,0,0,...,None,NaN,None,NaN,1,NaN,pierre-emerick_aubameyang,106,11.0,Midfielder
2624,4,1,3,125,100,100,2,58822,0,0,...,None,NaN,5,NaN,None,NaN,cédric_soares,42,4.0,Defender
2625,5,3,21,452,100,100,7,59966,0,0,...,None,NaN,3,NaN,2,NaN,alexandre_lacazette,83,8.0,Forward
2626,6,0,0,16,0,0,0,69140,0,0,...,None,NaN,None,NaN,None,NaN,shkodran_mustafi,50,5.0,Defender
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3321,701,1,6,264,100,100,3,448514,0,0,...,3,NaN,None,NaN,None,NaN,rayan_ait nouri,50,5.0,Defender
3322,702,1,0,33,100,25,0,250604,0,0,...,None,NaN,None,NaN,None,NaN,owen_otasowie,45,4.0,Midfielder
3323,703,0,0,5,100,0,0,443296,0,0,...,None,NaN,None,NaN,None,NaN,theo_corbeanu,43,4.0,Midfielder
3329,709,0,0,5,0,0,0,209353,0,0,...,None,NaN,None,NaN,None,NaN,patrick_cutrone,58,5.0,Forward
3331,711,1,3,131,100,100,5,73314,0,0,...,None,NaN,None,NaN,None,NaN,willian josé_da silva,66,6.0,Forward

In [66]:
last_pool = last_season_players

# Filtering out the name, total points they scored and the position they play

In [67]:
last_season_players = last_season_players[['full_name', 'total_points','position']]

In [68]:
last_season_players.sort_values(by=['total_points'],ascending=False)

                          full_name  total_points    position
3052  bruno miguel_borges fernandes           244  Midfielder
3192                     harry_kane           242     Forward
2983                  mohamed_salah           231  Midfielder
3194                  heung-min_son           228  Midfielder
2942                patrick_bamford           194     Forward
...                             ...           ...         ...
3062            timothy_fosu-mensah             0    Defender
2868                 michael_hector             0    Defender
3185            alexandre_jankewitz            -1  Midfielder
2658                    neil_taylor            -1    Defender
3179                   kayne_ramsay            -3    Defender

[524 rows x 3 columns]

# renaming column names from total_points to total_points last season for better usability

In [69]:
last_season_players.rename(columns={'total_points': "total_points_last_season"},
                                inplace=True)

/Users/bhanukiran/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [70]:
last_season_players

                       full_name  total_points_last_season    position
2622  david_luiz moreira marinho                        41    Defender
2623   pierre-emerick_aubameyang                       131  Midfielder
2624               cédric_soares                        28    Defender
2625         alexandre_lacazette                       129     Forward
2626            shkodran_mustafi                         3    Defender
...                          ...                       ...         ...
3321             rayan_ait nouri                        54    Defender
3322               owen_otasowie                         9  Midfielder
3323               theo_corbeanu                         1  Midfielder
3329             patrick_cutrone                         2     Forward
3331       willian josé_da silva                        40     Forward

[524 rows x 3 columns]

# filtering out the available player pool based on players available this season and last season on full_name

In [71]:
available_players_df = pd.merge(this_season_players,
                                    last_season_players,
                                   on='full_name', how='left')

In [72]:
# full name. cost this season. total pts last season. position
available_players_df.sort_values(by=['total_points_last_season'],ascending=False)

,full_name,cost_bin,team,team_name,total_points_last_season,position
444,bruno miguel_borges fernandes,11.0,13,Man Utd,244.0,Midfielder
573,harry_kane,12.0,17,Spurs,242.0,Forward
378,mohamed_salah,13.0,11,Liverpool,231.0,Midfielder
575,heung-min_son,11.0,17,Spurs,228.0,Midfielder
337,patrick_bamford,7.0,10,Leeds,194.0,Forward
...,...,...,...,...,...,...
717,bruno andré_cavaco jordão,4.0,20,Wolves,NaN,NaN
718,toti antónio_gomes,4.0,20,Wolves,NaN,NaN
719,dion_sanderson,4.0,20,Wolves,NaN,NaN
720,ryan_giles,4.0,20,Wolves,NaN,NaN
721,francisco jorge_tomás oliveira,5.0,20,Wolves,NaN,NaN

In [73]:
#available_players_df.to_csv('avail-pool.csv')

# Getting the cheap bench players

In [74]:
# for each position, sort the players by cost (in ascending order)
# then, get the player with the most number of points


def get_cheapest_player(player_df):
    
    cheapest_player_names = []
    total_cost = 0
    
    for position, group in player_df.groupby('position'):
        cheapest_players =  group[(group.cost_bin == group.cost_bin.min())]
        top_cheapest_player = cheapest_players[cheapest_players.total_points_last_season == cheapest_players.total_points_last_season.max()]
        
        cheapest_player_name = top_cheapest_player.full_name.values[0]
        
        cheapest_player_names += [cheapest_player_name]
        total_cost += top_cheapest_player.cost_bin.values[0]
        
        print(position, ": ", cheapest_player_name )
        
    return cheapest_player_names, total_cost

In [75]:
bench_players, bench_cost = get_cheapest_player(available_players_df)

Defender :  javier_manquillo
Forward :  keinan_davis
Keeper :  scott_carson
Midfielder :  pierre-emile_højbjerg

In [76]:
bench_cost

14.0

In [77]:
total_cost = 100.0

In [78]:
remaining_cost = total_cost - bench_cost

In [79]:
remaining_cost

86.0

Each fantasy player starts with a limited budget of 100MM and has to buy 15 soccer players (11 for the main squad + 4 subs) in order to compete.
You need to have at least 2 Goalkeepers, 5 Defenders, 5 Midfielders, and 3 Forwards in order to complete your squad and be eligible to play.
You cannot have more than 3 players from the same soccer team.

* Check if a player is injured, suspended or unavailable to play and if so, do not pick that player for our Fantasy team even if they have a high ROI.
* Pick the top three star players with the most cumulative league points in the league first. (We will test the outcome of this condition with different numbers of star-players and pick the version that generates the biggest return on investment, while still allowing enough left-over budget to fill our squad with a lot of the Top 50 ROI players.)
* Every time we pick a player and add them to our team, we subtract their cost from our 100MM budget and we add their position and team-name to a list, to make sure that we stop buying players for the positions and the teams that hit their constraint limit.
* Once the optimal number of expensive superstar players are picked, the Algorithm starts going through the list of players with the highest ROI and tries to get us as many of the top names as it can, until we get close to depleting our budget and filling all of the team positions.
* Algorithm prints a list of the players it picked at the end and gives us the remaining budget and the total fantasy points of the team.

## Getting players with top performance from available players

In [80]:
# since bench has 4 players remaining is 11 players and the remaining cost is obtained. now we set the constraints and get the remaining team.

most_points_players = available_players_df[['full_name','team_name','position','total_points_last_season','cost_bin']]
most_points_players = most_points_players.sort_values(by=['total_points_last_season'],ascending=False)

In [81]:
most_points_players.head()

,full_name,team_name,position,total_points_last_season,cost_bin
444,bruno miguel_borges fernandes,Man Utd,Midfielder,244.0,11.0
573,harry_kane,Spurs,Forward,242.0,12.0
378,mohamed_salah,Liverpool,Midfielder,231.0,13.0
575,heung-min_son,Spurs,Midfielder,228.0,11.0
337,patrick_bamford,Leeds,Forward,194.0,7.0

# Calculating the player ROI

In [82]:
# next we create players with highest ROI 

roi_players = available_players_df[['full_name','team_name','position','total_points_last_season','cost_bin']]

In [83]:
roi_players['roi'] = roi_players.apply(lambda row: row.total_points_last_season / row.cost_bin, axis=1)

In [84]:
roi_players = roi_players.sort_values(by= 'roi', ascending = False)
roi_players.head()

,full_name,team_name,position,total_points_last_season,cost_bin,roi
336,stuart_dallas,Leeds,Defender,171.0,4.0,42.75
347,illan_meslier,Leeds,Keeper,154.0,4.0,38.50
48,emiliano_martínez,Aston Villa,Keeper,186.0,5.0,37.20
467,matt_targett,Newcastle,Defender,138.0,4.0,34.50
0,bernd_leno,Arsenal,Keeper,131.0,4.0,32.75

In [85]:
roi_players = roi_players.dropna()

In [86]:
#roi_players.to_csv('roi.csv')

In [87]:
def money_team():
    roi_team = []
    total_points = 0
    budget = remaining_cost
    top_performer_limit = 2
    position_dict = {"Keeper": 1, "Defender": 4, "Midfielder": 4, "Forward": 2}
    team_dict = {'Arsenal':3, 'Aston Villa':3,'Brentford':3, 'Brighton':3,'Burnley':3,'Chelsea':3,
                 'Crystal Palace':3,'Everton':3,'Leicester':3,'Leeds':3,'Liverpool':3,'Man City':3,
                 'Man Utd':3,'Newcastle':3,'Norwich':3,'Southampton':3,'Spurs':3,'Watford':3,'West Ham':3,'Wolves':3}
    
    # top 2 performers
    
    for idx, row in most_points_players.iterrows():
        if budget >= row.cost_bin and len(roi_team)<top_performer_limit and position_dict[row.position] != 0 and team_dict[row.team_name] != 0:
            roi_team.append(row.full_name)
            budget -= row.cost_bin #Deducting cost from budget
            position_dict[row.position] -= 1 # Deducting position from position dictionary
            team_dict[row.team_name] -= 1 # Deducting player from team dictionary
            total_points += row.total_points_last_season # adding to point score
            print("Player choosen from 'top players' " + str(row.full_name))
    
        # Choosing the remaining team from ROI data
        
        else:
            for idx, row in roi_players.iterrows():
                if row.full_name not in roi_team and budget >= row.cost_bin and position_dict[row.position] != 0 and team_dict[row.team_name] != 0:
                    roi_team.append(row.full_name)
                    budget -= row.cost_bin
                    position_dict[row.position] -= 1 # Deducting position from position dictionary
                    team_dict[row.team_name] -= 1 # Deducting player from team dictionary
                    total_points += row.total_points_last_season # adding to point score
    print("\nTeam chosen: " + str(roi_team))
    print("Remaining budget: " + str((budget)) + "M.")
    print("Total points from choosen team: " + str(total_points) + ".")
    print(position_dict)

In [88]:
money_team()

Player choosen from 'top players' bruno miguel_borges fernandes
Player choosen from 'top players' harry_kane

Team chosen: ['bruno miguel_borges fernandes', 'harry_kane', 'stuart_dallas', 'illan_meslier', 'matt_targett', 'lewis_dunk', 'jack_harrison', 'vladimir_coufal', 'tomas_soucek', 'bertrand_traoré', 'ollie_watkins']
Remaining budget: 21.0M.
Total points from choosen team: 1817.0.
{'Keeper': 0, 'Defender': 0, 'Midfielder': 0, 'Forward': 0}

In [89]:
available_players_df.head()

,full_name,cost_bin,team,team_name,total_points_last_season,position
0,bernd_leno,4.0,1,Arsenal,131.0,Keeper
1,rúnar alex_rúnarsson,4.0,1,Arsenal,1.0,Keeper
2,willian_borges da silva,6.0,1,Arsenal,78.0,Midfielder
3,pierre-emerick_aubameyang,9.0,1,Arsenal,131.0,Midfielder
4,cédric_soares,4.0,1,Arsenal,28.0,Defender

In [90]:
last_pool.head()

,index,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,cost_change_event,cost_change_event_fall,...,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text,full_name,starting_cost,cost_bin,position
2622,2,0,0,230,100,50,3,41270,0,0,...,None,NaN,4,NaN,None,NaN,david_luiz moreira marinho,53,5.0,Defender
2623,3,3,11,358,100,100,10,54694,0,0,...,None,NaN,None,NaN,1,NaN,pierre-emerick_aubameyang,106,11.0,Midfielder
2624,4,1,3,125,100,100,2,58822,0,0,...,None,NaN,5,NaN,None,NaN,cédric_soares,42,4.0,Defender
2625,5,3,21,452,100,100,7,59966,0,0,...,None,NaN,3,NaN,2,NaN,alexandre_lacazette,83,8.0,Forward
2626,6,0,0,16,0,0,0,69140,0,0,...,None,NaN,None,NaN,None,NaN,shkodran_mustafi,50,5.0,Defender

In [91]:
df_join = pd.merge(available_players_df, last_pool, how = 'inner', on = 'full_name')

In [92]:
df_join.head()

,full_name,cost_bin_x,team_x,team_name,total_points_last_season,position_x,index,assists,bonus,bps,...,threat_rank_type,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text,starting_cost,cost_bin_y,position_y
0,bernd_leno,4.0,1,Arsenal,131.0,Keeper,7,0,11,625,...,5.0,None,NaN,None,NaN,None,NaN,50,5.0,Keeper
1,rúnar alex_rúnarsson,4.0,1,Arsenal,1.0,Keeper,30,0,0,8,...,53.0,None,NaN,None,NaN,None,NaN,43,4.0,Keeper
2,willian_borges da silva,6.0,1,Arsenal,78.0,Midfielder,25,7,9,306,...,94.0,1,NaN,2,NaN,None,NaN,70,7.0,Midfielder
3,pierre-emerick_aubameyang,9.0,1,Arsenal,131.0,Midfielder,3,3,11,358,...,18.0,None,NaN,None,NaN,1,NaN,106,11.0,Midfielder
4,cédric_soares,4.0,1,Arsenal,28.0,Defender,4,1,3,125,...,110.0,None,NaN,5,NaN,None,NaN,42,4.0,Defender

In [93]:
df_roi = pd.merge(df_join, roi_players, how = 'inner', on = 'full_name')

In [94]:
df_roi.head()

,full_name,cost_bin_x,team_x,team_name_x,total_points_last_season_x,position_x,index,assists,bonus,bps,...,penalties_order,penalties_text,starting_cost,cost_bin_y,position_y,team_name_y,position,total_points_last_season_y,cost_bin,roi
0,bernd_leno,4.0,1,Arsenal,131.0,Keeper,7,0,11,625,...,None,NaN,50,5.0,Keeper,Arsenal,Keeper,131.0,4.0,32.750000
1,rúnar alex_rúnarsson,4.0,1,Arsenal,1.0,Keeper,30,0,0,8,...,None,NaN,43,4.0,Keeper,Arsenal,Keeper,1.0,4.0,0.250000
2,willian_borges da silva,6.0,1,Arsenal,78.0,Midfielder,25,7,9,306,...,None,NaN,70,7.0,Midfielder,Arsenal,Midfielder,78.0,6.0,13.000000
3,pierre-emerick_aubameyang,9.0,1,Arsenal,131.0,Midfielder,3,3,11,358,...,1,NaN,106,11.0,Midfielder,Arsenal,Midfielder,131.0,9.0,14.555556
4,cédric_soares,4.0,1,Arsenal,28.0,Defender,4,1,3,125,...,None,NaN,42,4.0,Defender,Arsenal,Defender,28.0,4.0,7.000000

In [95]:
df_roi.to_csv('fantasy-pool.csv')

In [96]:
df_roi.columns

Index(['full_name', 'cost_bin_x', 'team_x', 'team_name_x',
       'total_points_last_season_x', 'position_x', 'index', 'assists', 'bonus',
       'bps', 'chance_of_playing_next_round', 'chance_of_playing_this_round',
       'clean_sheets', 'code', 'cost_change_event', 'cost_change_event_fall',
       'cost_change_start', 'cost_change_start_fall', 'creativity',
       'dreamteam_count', 'ea_index', 'element_type', 'ep_next', 'ep_this',
       'event_points', 'first_name', 'form', 'goals_conceded', 'goals_scored',
       'ict_index', 'id', 'in_dreamteam', 'influence', 'loaned_in',
       'loaned_out', 'loans_in', 'loans_out', 'minutes', 'news', 'now_cost',
       'own_goals', 'penalties_missed', 'penalties_saved', 'photo',
       'points_per_game', 'red_cards', 'saves', 'second_name',
       'selected_by_percent', 'special', 'squad_number', 'status', 'team_y',
       'team_code', 'threat', 'total_points', 'transfers_in',
       'transfers_in_event', 'transfers_out', 'transfers_out_event',
       'value_form', 'value_season', 'web_name', 'yellow_cards', 'season',
       'season_num', 'news_added', 'creativity_rank', 'creativity_rank_type',
       'ict_index_rank', 'ict_index_rank_type', 'influence_rank',
       'influence_rank_type', 'threat_rank', 'threat_rank_type',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text',
       'starting_cost', 'cost_bin_y', 'position_y', 'team_name_y', 'position',
       'total_points_last_season_y', 'cost_bin', 'roi'],
      dtype='object')

In [97]:
df_roi_clean = df_roi [['full_name', 'index', 'assists', 'bonus',
       'bps', 'chance_of_playing_next_round', 'chance_of_playing_this_round',
       'clean_sheets','cost_change_event', 'cost_change_event_fall',
       'cost_change_start', 'cost_change_start_fall', 'creativity',
       'dreamteam_count',
       'event_points', 'first_name', 'form', 'goals_conceded', 'goals_scored',
       'ict_index', 'in_dreamteam', 'minutes', 'now_cost',
       'own_goals', 'penalties_missed', 'penalties_saved', 'photo',
       'points_per_game', 'red_cards', 'saves',
       'selected_by_percent', 'yellow_cards', 'season',
       'season_num',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text',
       'starting_cost', 'position',
       'cost_bin', 'roi','total_points_last_season_x']]

In [98]:
df_roi_clean.head()

,full_name,index,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,cost_change_event,cost_change_event_fall,...,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text,starting_cost,position,cost_bin,roi,total_points_last_season_x
0,bernd_leno,7,0,11,625,100,100,11,0,0,...,NaN,None,NaN,None,NaN,50,Keeper,4.0,32.750000,131.0
1,rúnar alex_rúnarsson,30,0,0,8,100,100,0,0,0,...,NaN,None,NaN,None,NaN,43,Keeper,4.0,0.250000,1.0
2,willian_borges da silva,25,7,9,306,100,100,3,0,0,...,NaN,2,NaN,None,NaN,70,Midfielder,6.0,13.000000,78.0
3,pierre-emerick_aubameyang,3,3,11,358,100,100,10,0,0,...,NaN,None,NaN,1,NaN,106,Midfielder,9.0,14.555556,131.0
4,cédric_soares,4,1,3,125,100,100,2,0,0,...,NaN,5,NaN,None,NaN,42,Defender,4.0,7.000000,28.0

In [99]:
df_roi_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 397 entries, 0 to 396
Data columns (total 45 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   full_name                             397 non-null    object
 1   index                                 397 non-null    int64
 2   assists                               397 non-null    int64
 3   bonus                                 397 non-null    int64
 4   bps                                   397 non-null    int64
 5   chance_of_playing_next_round          397 non-null    object
 6   chance_of_playing_this_round          397 non-null    object
 7   clean_sheets                          397 non-null    int64
 8   cost_change_event                     397 non-null    int64
 9   cost_change_event_fall                397 non-null    int64
 10  cost_change_start                     397 non-null    int64
 11  cost_change_start_fall                397 non-null    int64
 12  creativity                            397 non-null    float64
 13  dreamteam_count                       397 non-null    int64
 14  event_points                          397 non-null    int64
 15  first_name                            397 non-null    object
 16  form                                  397 non-null    float64
 17  goals_conceded                        397 non-null    int64
 18  goals_scored                          397 non-null    int64
 19  ict_index                             397 non-null    float64
 20  in_dreamteam                          397 non-null    bool
 21  minutes                               397 non-null    int64
 22  now_cost                              397 non-null    int64
 23  own_goals                             397 non-null    int64
 24  penalties_missed                      397 non-null    int64
 25  penalties_saved                       397 non-null    int64
 26  photo                                 397 non-null    object
 27  points_per_game                       397 non-null    float64
 28  red_cards                             397 non-null    int64
 29  saves                                 397 non-null    int64
 30  selected_by_percent                   397 non-null    float64
 31  yellow_cards                          397 non-null    int64
 32  season                                397 non-null    object
 33  season_num                            397 non-null    int64
 34  corners_and_indirect_freekicks_order  397 non-null    object
 35  corners_and_indirect_freekicks_text   0 non-null      float64
 36  direct_freekicks_order                397 non-null    object
 37  direct_freekicks_text                 0 non-null      float64
 38  penalties_order                       397 non-null    object
 39  penalties_text                        0 non-null      float64
 40  starting_cost                         397 non-null    int64
 41  position                              397 non-null    object
 42  cost_bin                              397 non-null    float64
 43  roi                                   397 non-null    float64
 44  total_points_last_season_x            397 non-null    float64
dtypes: bool(1), float64(11), int64(23), object(10)
memory usage: 140.0+ KB

In [100]:
df_roi_clean.to_csv('final-pool.csv')